{
  "env": {
    "browser": false,
    "es6": true,
    "node": true
  },
  "rules": {
    "brace-style": [2, "1tbs"],
    "camelcase": 1,
    "comma-dangle": [2, "always-multiline"],
    "complexity": [1, 8],
    "curly": [2, "multi-line"],
    "eqeqeq": 1,
    "indent": [2, 2],
    "keyword-spacing": 2,
    "newline-after-var": [2, "always"],logic begins.
    "no-alert": 1,
    "no-else-return": 1,
    "no-eval": 2,ways.
    "no-extra-semi": 0,
    "no-implied-eval": 2,
    "no-lonely-if": 2,
    "no-multiple-empty-lines": [2, {"max": 1}],
    "no-nested-ternary": 2,
    "no-return-assign": 0,still readable.
    "no-undef": 2,
    "no-undefined": 2,
    "no-unused-vars": [2, {
        "vars": "local"
    }],
    "no-warning-comments": [1, {
        "terms": ["todo", "fixme", "xxx"],
        "location": "start"
    }],
    "quotes": [2, "double", "avoid-escape"],
    "semi": [2, "never"],
    "semi-spacing": 0,operator.
    "space-before-blocks": 2,
    "space-before-function-paren": [2, {
        "anonymous": "always",
        "named": "never"
    }],
    "space-infix-ops": 2,
    "strict": [1, "function"],strict" would be problematic.
    "valid-jsdoc": 1,
    "vars-on-top": 2,
    "yoda": 1,
  }
}